{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Beitrag erstellen - AVIE</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/handy.css' %}" />
  <script src="https://kit.fontawesome.com/a7fef2ebcc.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="site-header">
    <a href="/startseite?username={{ username }}&password={{ password }}" class="logo">AVIE</a>
    <nav class="nav-icons">
      <a href="/suche?username={{ username }}&password={{ password }}" class="icon-link" title="Suche"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a href="/chat?username={{ username }}&password={{ password }}" class="icon-link" title="Chats"><i class="fa-solid fa-comments"></i></a>
      <a href="/profilseite?username={{ username }}&password={{ password }}" class="icon-link profil-icon" title="Profil"><i class="fa-solid fa-user"></i></a>
    </nav>
  </header>

  <div class="floating-footer">
    <a href="/login" class="bottom-icon" title="Logout"><i class="fa-solid fa-right-to-bracket"></i></a>
    <a href="/einstellungen?username={{ username }}&password={{ password }}" title="Einstellungen"><i class="fa-solid fa-gear"></i></a>
    <a href="/impressum?username={{ username }}&password={{ password }}" title="Impressum"><i class="fa-solid fa-circle-info"></i></a>
  </div>

  <main class="post-create-container">
    <h2>Beitrag erstellen</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'create_post' %}?username={{ username }}&password={{ password }}">
      {% csrf_token %}
      {{ post_form.as_p }}
      <button type="submit">Beitrag veröffentlichen</button>
    </form>
  </main>

</body>

</html>
